
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<div style="background-color:darkgray">Deneme</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Boran</td>
        <td>Kaya</td>
        <td>Test</td>
        <td><a href="#" class="btn btn-default" style="background-color:cornflowerblue">Satışlar</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Zeynep</td>
        <td>Başoğlu</td>
        <td>Test</td>
        <td><a href="#" class="btn btn-default" style="background-color:cornflowerblue">Satışlar</a></td>
    </tr>
</table>

